:root {
  font-family: Roboto, sans-serif;
}

.edu-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.edu-title {
  font-size: 1.6em;
  text-align: center;
}

.edu-address {
  text-align: center;
}

.edu-right-col img {
  height: 150px;
}



/*bigger than tablet */

@media (min-width: 768px) {
  .edu-main {
    width: 640px;
    min-height: 230px;
    margin-bottom: 0px;
  }
  .edu-left-text-col {
    width: 70%;
  }
}


/* smaller than tablet */

@media (max-width: 768px) {
  .edu-main {
    width: 100%;
    margin-bottom: 10px;
  }
  .edu-left-text-col {
    width: 100%;
  }
  .edu-title, .edu-address {
    text-align: center;
  }

  .edu-right-col {
    margin-top: 30px;
  }
}