.experience-inner {
  width: 560px;
  padding: 40px;
  display: flex;
  font-weight: 300;
}

.experience-left {
  width: 30%;
}

.experience-right {
  width: 70%;
  float: right;
}

.experience-title {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.experience-company {
  font-size: 3.5em;
  font-weight: 300;
  text-align: center;
}

.experience-date {
  font-weight: 400;
  font-size: 1.2em;
  color: gray;
}

.experience-description {
  list-style-type: square;
  list-style-position: outside;
  text-align: left;
}

.experience-tags-headline {
  margin-top: 30px;
}

.experience-tags {
  align-content: center;
  justify-content: center;
}

.experience-additional {
  color: gray;
  margin-top: 15px;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .experience-left, .experience-right {
    width: 100%;
  }
  .experience-inner {
    margin: 30px;
    width: auto;
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .experience-description {
    margin: 0 -40px 0 -80px;
    list-style: none;
  }
  .experience-description li {
    margin-top: 10px;
  }
}