.resume-section-header {
  display: inline-block;
  width: 100%;
  font-size: 3.5em;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #00BCD4;
  font-weight: 300;
  border-bottom: 3px solid #00BCD4;
}

.resume-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.resume-left-pane {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 640px;
}

.resume-right-pane {
  width: 330px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-left: 10px;
}

.resume-right-pane .side-paper-main, .resume-left-pane > * {
  margin-bottom: 10px;
}

.side-paper-main {
  width: 330px;
  margin: auto;
  font-weight: 300;
  padding: 30px;
}

.edu-title {
  font-size: 1.6em;
}

.large-bold {
  margin-top: 30px;
  margin-bottom: 0px;
}

.large-bold p {
  font-size: 1em;
  font-weight: 700;
  color: white;
}

.resume-skills-header {
  font-size: 2em;
  color: #006775;
  font-weight: 500;
  margin: -10px auto;
}

.resume-skill-table tr {
  color: white;
  font-size: 1em;
  text-align: left;
}

.resume-skill-table:hover {
  font-size: 1.05em;
}

.resume-skill-table {
  margin-top: 30px;
  width: 100%;
}

.resume-additional-skills {
  font-size: 1em;
  margin-top: 30px;
}

.resume-contact-info {
  margin-top: 30px;
  font-size: 1em;
  font-weight: 500;
  color: white;
}


/* smaller than tablet */

@media (max-width: 1024px) {
  .resume-right-pane {
    width: 100%;
    margin-left: 0px;
    order: 1;
  }
  .resume-left-pane {
    width: 100%;
    order: 2;
  }
  .side-paper-main {
    margin-bottom: 10px;
    width: 640px;
  }
  .resume-section-header {
    text-align: center;
  }
  .under-construction {
    display: none;
  }
}

