.name-title {
  font-family : 'Roboto', sans-serif;
  text-align : center ;
  font-weight: 300;
  font-size: 4em;
}

body {
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
  font-family : 'Roboto', sans-serif;
}


.experience-inner {
   width: 560px;
   padding: 40px;
   display:flex;
}

.experience-paper {
  width : 640px;
}
.experience-main {
  font-weight : 300;
}

.experience-left{
  width : 30%;
}

.experience-right {
  width : 70%;
  float : right;
}

.experience-title {
  font-size: 1.5em;
  font-weight : 400;
  text-align: center;
}

.experience-company {
  font-size: 3.5em;
  font-weight: 300;
  text-align: center;
}
.experience-date {
  font-weight: 400;
  font-size: 1.2em;
  color : gray;
}

.experience-description {
  list-style-type: square;
  list-style-position: outside;
}

